.footer {
  background-color: transparent;
  width: 100%;
  height: 5vw;
  position: relative;
  z-index: 1;
  padding: 2rem;
}

.errors {
  color: red;
}

.errors h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
}

.errors ul {
  margin: 0;
  padding-left: 1.5rem;
  list-style-type: disc;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.errors li {
  margin: 0.25rem 0;
}
