.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  min-height: 5vw;
  z-index: 1;
  padding-left: 2rem;
}

.errors {
  color: rgb(224, 188, 170);
}

.errors h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
}

.errors ul {
  margin: 0;
  padding-left: 1.5rem;
  list-style-type: disc;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.errors li {
  margin: 0.25rem 0;
}
