.section {
  flex-basis: 60%;
  /* background-color: green; */
  background-color: transparent;
  padding: 2rem;
}

.section h2 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.section p {
  max-width: 24rem;
  color: white;
}
