.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 2rem;
  gap: 4rem;
}

.landing-container a {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--accent-color);
}

.landing-container a:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: none;
}

.landing-container a:visited {
  color: var(--accent-color);
}

.landing-container h1 {
  color: var(--secondary-text-color);
}
