.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  position: relative;
  /* overflow: hidden; */
}

.header {
  background-color: transparent;
  /* background-color: red; */
  width: 100%;
  height: 10vw;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  color: 'magenta';
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.nav {
  flex-basis: 20%;
  /* background-color: blue; */
  background-color: transparent;
}

.section {
  flex-basis: 60%;
  /* background-color: green; */
  background-color: transparent;
}

.footer {
  /* background-color: purple; */
  background-color: transparent;

  width: 100%;
  height: 5vw;
  position: relative;
  z-index: 1;
}
